<p>Information on force alignment to be displayed here.</p>

<div>
    <h3>Current Alignment</h3>
    <div><button>+1<br>Dark</button></div>
    <div>{{balance}}</div>
    <div><button>+1<br>Light</button></div>
</div>
