<p>Information on force alignment to be displayed here.</p>

<div>
    <h3>Current Alignment</h3>
    <p>....place image here...</p>
    <p>for now, here's the numerical balance: {{balance}}</p>

    {{#ifGM}}
        <button id="sw5efa-gmbutton">Modify Character Force Alignment</button>
    {{/ifGM}}
</div>
